Requirements:

Software shall...
Track what clinic readings are taken at
Track clinic names and IDs for all clinics
Persist patient info when closed and reopened
Persist reading info when closed and reopened
Accept XML reading files
Accept XML files that have invalid or incomplete reading info
Reject all readings with invalid or incomplete reading info
Allow users to point and click to perform operations