<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandiprai.clinicaltrial">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddPatientActivity"
            android:label="@string/add_patient"
            android:parentActivityName=".MainMenuActivity"/>

        <activity android:name=".AddPatientInfoActivity"
            android:label="@string/add_patient_info"
            android:parentActivityName=".PatientListActivity"/>

        <activity android:name=".SystemSettingsActivity"
            android:label="@string/system_settings"
            android:parentActivityName=".MainMenuActivity"/>

        <activity android:name=".PatientListActivity"
            android:label="@string/patient_list"
            android:parentActivityName=".MainMenuActivity"/>

        <activity android:name=".PatientReadingsActivity"
            android:label="@string/patient_readings"
            android:parentActivityName=".PatientListActivity"/>

        <activity android:name=".AddClinicActivity"
            android:label="@string/add_clinic"
            android:parentActivityName=".MainMenuActivity"/>
    </application>

</manifest>